USE [DBSiap]
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetDepartamentos]    Script Date: 9/14/2025 9:49:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Oscar Ortiz
-- Create date: 13/09/2025
-- Description:	get all record of deparments 
-- =============================================
CREATE PROCEDURE [dbo].[Sp_GetDepartamentos]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT IdDepartamento, NombreDepartamento 
	from Departamento

END
GO
